@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.portfolio-blue{
  background-color: $theme-blue;
}

.section-red{

}

// Work SECTION

//Fits image in div container
.fill img{
  object-fit: cover;
  height: 215px;
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: left;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  // border-bottom: 1px solid #FFF;
  // border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  // -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
  padding: 1.2em 1em;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(20%);
  -webkit-filter: brightness(20%);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: left;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  // font-family:
  opacity: 0;
  filter: alpha(opacity=0);
  // -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  // transition: opacity 0.35s, transform 0.35s;
  // -webkit-transform: translate3d(0,-100%,0);
  // transform: translate3d(0,-100%,0);
}

.hovereffect h3 {
  font-size: 10px;
  font-family: $font-robotomono;
  color: $font-sub;
}

.hovereffect p {
  font-size: 12px;
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

//END WORK

.knewave-1{
  font-family: 'Knewave', cursive;
  font-size: 32px;
  color: #8F8F8F;
  text-transform: uppercase;
  border-top: 10px dotted $theme-red;
  border-bottom: 10px dotted $theme-red;
}

.knewave-2{
  font-family: 'Knewave', cursive;
  font-size: 32px;
  color: #8F8F8F;
  text-transform: uppercase;
  border-top: 10px dotted $theme-yellow;
  border-bottom: 10px dotted $theme-yellow;
}

.knewave-3{
  font-family: 'Knewave', cursive;
  font-size: 32px;
  color: #8F8F8F;
  text-transform: uppercase;
  border-top: 10px dotted $theme-green;
  border-bottom: 10px dotted $theme-green;
}

.work-block-1{
  // display: block;
  // background-color: $theme-primary;
  display: block;
  object-fit: cover;
}

.highlight-text{
  display:block;
  background-color: $theme-blue;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.3em;
  color: #8F8F8F;
  font-weight: light;
}

.robotomono{
  font-family: 'Roboto Mono', monospace;
}

.about-subheading{
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
}

.section-title{
  display: block;
  background-color: $theme-red;
}

.highlight-text-work{
  // padding:;
  background-color: $theme-blue;
  line-height:3.0rem;
}

.section-title h3{
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #8F8F8F;
  align-items: center;
}

.about-me{
  display:block;
  padding: 10px;
  background-color: $theme-blue
}



.bg-red {
    background: $theme-red;
    background: -webkit-linear-gradient($theme-red, darken($theme-red, 5%));
    background: linear-gradient($theme-red, darken($theme-red, 5%));
}
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}


.text-red{
  color: $theme-red;
}

svg:hover .my-shape{
  fill: blue;

}
